In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler


data = pd.read_csv('placement.csv')


numeric_cols = data.select_dtypes(include=[np.number])
non_numeric_cols = data.select_dtypes(exclude=[np.number])

scaler = StandardScaler()
scaled_numeric_data = scaler.fit_transform(numeric_cols)


scaled_numeric_df = pd.DataFrame(scaled_numeric_data, columns=numeric_cols.columns)


scaled_data = pd.concat([scaled_numeric_df, non_numeric_cols.reset_index(drop=True)], axis=1)

print(scaled_data.shape)
print()
print('*' * 60)
scaled_data.head()

(1000, 3)

************************************************************

       cgpa  placement_exam_marks    placed
0  0.371611             -0.325554  1.022247
1  0.810215              0.302020  1.022247
2  0.940171              0.406616  1.022247
3 -0.879222             -1.266915  1.022247
4  0.436589             -0.796234 -0.978237

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Load the dataset
data = pd.read_csv('placement.csv')

# Separate numeric and non-numeric columns
numeric_cols = data.select_dtypes(include=[np.number])
non_numeric_cols = data.select_dtypes(exclude=[np.number])

# Apply MinMaxScaler to the numeric columns
scaler = MinMaxScaler()
scaled_numeric_data = scaler.fit_transform(numeric_cols)

# Convert the scaled numeric data back to a DataFrame
scaled_numeric_df = pd.DataFrame(scaled_numeric_data, columns=numeric_cols.columns)

# Combine the scaled numeric columns with the non-numeric columns
scaled_data = pd.concat([scaled_numeric_df, non_numeric_cols.reset_index(drop=True)], axis=1)

# Check the shape of the scaled data
print(scaled_data.shape)
print()
print('*' * 60)
scaled_data.head()

(1000, 3)

************************************************************

       cgpa  placement_exam_marks  placed
0  0.543735                  0.26     1.0
1  0.607565                  0.38     1.0
2  0.626478                  0.40     1.0
3  0.361702                  0.08     1.0
4  0.553191                  0.17     0.0